* {
  margin: 0;
  padding: 0;
  font-family: 'Akshar', sans-serif; }

  header {
    font-family: 'Montserrat', sans-serif;
    background-color: black; }
    header .logo {
      display: inline-block; }
      header .logo img {
        width: 80px;
        height: 80px;
        margin: 10px; }
      header .logo .letraLogo {
        font-size: 25px;
        font-family: 'Joan', serif; }
    header nav #colorPiel {
      color: #ffd5b7; }
    header nav #fondoPiel {
      background-color: #ffd5b7; }
    header nav .navbar-nav li {
      margin-right: 30px;
      padding-left: 30px;
      padding-right: 30px; }
      header nav .navbar-nav li:hover {
        border-bottom: 3px solid white ;
        padding-bottom: 3px;
        padding: 0px 30px;
        background-color: #2c2a2a;
        color: white;
        border-radius: 2px;
        transition: all 0.2s ease; }

.cartIcon a{
  color: white;
  font-size: 1.7em;

}

.badge{
  color: white;
  background-color: blue;

  left: 55%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;


}

.a .badge {
  position: relative;
  top: -35px;
}

.a{
  padding-right: 2em;
  padding-top: 0.2em;
  padding-bottom: 0em;
}


/*  ITEM COUNT (BOTONERA) */
.botonera{
  margin-left: 20px;
  display:flex
  
}
.botoneraCantidad{
  position: relative;
  top:10px;
  margin: 5px;
}
.botonera button{
  background-color: black;
  color: white;
  margin: 10px;
  padding: 3px;
  border-radius: 3px;
  
}
.botonera button:hover{
  box-shadow: 4px 4px 10px rgb(197, 207, 211);
  transition: all 0.2s ease;
}


/*IMG CARDS*/

.card-img-top{
  width: 150px;
  height: 150px;
  padding: 5px;
  margin: 3px;
}
.card{
  width: 17rem;
  flex-direction: row;
  display: inline-block;
  margin-left: 2rem;
  margin-top: 2rem ;
}
.card:hover{
  border: solid 1px grey;
}
