* {
  margin: 0;
  padding: 0;
  font-family: 'Akshar', sans-serif; }

  header {
    font-family: 'Montserrat', sans-serif;
    background-color: black; }
    header .logo {
      display: inline-block; }
      header .logo img {
        width: 80px;
        height: 80px;
        margin: 10px; }
      header .logo .letraLogo {
        font-size: 25px;
        font-family: 'Joan', serif; }
    header nav #colorPiel {
      color: #ffd5b7; }
    header nav #fondoPiel {
      background-color: #ffd5b7; }
    header nav .navbar-nav li {
      border-bottom: 2px solid  rgba(33,37,41,255);
      margin-right: 30px;
      padding-left: 30px;
      padding-right: 30px; }
      header nav .navbar-nav li:hover {
        border-bottom: 2px solid white ;
        background-color: rgba(33,37,41,255);
        color: white;
        border-radius: 2px;
        transition: all 0.3s ease; }


.imagenIcono{
  width: 60px;
  height: 40px;
  border-radius: 5px;
}
.cartIcon a{
  color: white;
  font-size: 1.7em;

}

.badge{
  color: white;
  background-color: blue;

  left: 55%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.bsCart:hover{
  background-color: grey;
}

.a .badge {
  position: relative;
  top: -35px;
}

.a{
  padding-right: 2em;
  padding-top: 0.2em;
  padding-bottom: 0em;
}


/*  ITEM COUNT (BOTONERA) */
.botonera{
  margin-left: 20px;
  display:flex
  
}
.botoneraCantidad{
  position: relative;
  top:10px;
  margin: 5px;
}
.botonera button{
  background-color: black;
  color: white;
  margin: 10px;
  padding: 3px;
  border-radius: 3px;
  
}
.botonera button:hover{
  box-shadow: 4px 4px 10px rgb(197, 207, 211);
  transition: all 0.2s ease;
}
.agregarCarrito{
  padding: 20px;
}

.checkout{
  background-color: black;
  color: white;
  margin: 10px;
  padding: 3px;
  border-radius: 3px;
}
/* FONDO */
.fondo{
  background-color: rgba(235,235,235,255);
  padding-bottom: 30px;
}

/*IMG CARDS*/

.card-img-top{
  width: 150px;
  height: 150px;
  padding: 5px;
  margin-left: 60px;
  border-bottom: solid 1px grey;
}
.card-body{
  text-align: center;
}
.card{
  width: 17rem;
  flex-direction: row;
  display: inline-block;
  margin-left: 2rem;
  margin-top: 2rem ;
}
.card:hover{
  box-shadow: 8px 8px 10px rgb(197, 207, 211);
  transition: all 0.2s ease;
}
.titulo{
  font-weight: 600;
  font-size: larger;
}
.detalles{
  background-color: white;
  color: gray;
  border-color: gray;
  /* background-color: grey;
  color: white;
  border-color: white; */
}
.detalles:hover{
  background-color: grey;
  color: white;
  border-color: white;
  /* background-color: white;
  color: gray;
  border-color: gray; */
}


/* DESCRIPCION PRODUCTO PANTALLA*/
 .productoDesc{
  background-color: white;
  margin: 50px;
  padding: 20px;
 
}

.imgDescripcion{
  margin: 0;
  width:500px;
  height: 500px;
  display: inline-block;
}
.imgDescripcion img{
  width: 100%;
  height: 100%;
}

.textoDescripcion{
  display: inline-block;
  width: 400px;
  margin-left: 150px;
}

